#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        alt_sae: alt_sae {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(RG(S)) &kp RA(RG(A)) &kp RA(RG(E))>;
            label = "ALT_SAE";
        };

        mmattest: mmattest {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp DOT &kp M &kp M &kp A &kp T &kp E &kp S &kp T &kp ENTER>,
                <&macro_wait_time 100>,
                <&kp F2>;

            label = "MMATTEST";
        };

        dsrba: dsrba {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp D &kp S &kp R &kp B &kp A &kp SPACE>;
            label = "DSRBA";
        };

        dss: dss {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp D &kp S &kp S &kp SPACE>;
            label = "DSS";
        };

        dscalled: dscalled {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp D &kp S &kp C &kp A &kp L &kp L &kp E &kp D &kp SPACE>;
            label = "DSCALLED";
        };

        dsvm: dsvm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp D &kp S &kp V &kp M &kp SPACE>;
            label = "DSVM";
        };

        dsrefilled: dsrefilled {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp D &kp S &kp R &kp E &kp F &kp I &kp L &kp L &kp E &kp D &kp SPACE>;
            label = "DSREFILLED";
        };
    };

    combos {
        compatible = "zmk,combos";

        layer2r {
            timeout-ms = <50>;
            bindings = <&mo 2>;
            key-positions = <37 36 38>;
        };

        layer2 {
            timeout-ms = <50>;
            bindings = <&mo 2>;
            key-positions = <31 32 33>;
        };

        lock {
            timeout-ms = <50>;
            bindings = <&tog 3>;
            key-positions = <30 32 34>;
        };

        lockr {
            timeout-ms = <50>;
            bindings = <&tog 3>;
            key-positions = <35 37 39>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Mac";
            bindings = <
           &dsrba     &dss    &dscalled  &dsvm   &dsrefilled                    &trans     &trans  &trans     &trans   &trans
           &trans     &kp F2  &trans     &trans  &trans                         &trans     &trans  &trans     &trans   &trans
           &trans     &trans  &kp F3     &trans  &trans                         &trans     &trans  &trans     &trans   &trans
&trans     &trans            &trans             &trans     &trans     &trans   &trans             &trans              &trans    &trans
            >;
        };

        num_func {
            bindings = <
           &kp F1     &kp F2  &kp F3    &kp F4  &kp F5                        &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT
           &kp F6     &kp F7  &kp F8    &kp F9  &kp F10                       &kp SQT    &kp N4  &kp N5   &kp N6  &kp APOS
           &trans     &trans  &trans    &trans  &trans                        &kp N0     &kp N1  &kp N2   &kp N3  &kp FSLH
&kp LSHFT  &kp LCTRL          &kp LGUI          &alt_sae  &kp BSPC  &kp BSPC  &dsrba          &kp DOT          &kp RALT  &kp LSHFT
            >;
        };

        bootloader {
            bindings = <
        &bootloader  &studio_unlock  &bt BT_CLR     &studio_unlock  &bootloader                  &bootloader  &studio_unlock  &trans  &studio_unlock  &bootloader
        &trans       &trans          &bt BT_DISC 0  &trans          &trans                       &trans       &trans          &trans  &trans          &trans
        &trans       &trans          &trans         &trans          &trans                       &trans       &trans          &trans  &trans          &trans
&trans  &trans                       &trans                         &trans       &trans  &trans  &trans                       &trans                  &trans       &trans
            >;
        };

        layer_3 {
            bindings = <
        &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans          &trans  &trans  &trans  &trans          &trans          &trans  &trans
            >;
        };
    };
};